<!DOCTYPE html>
<html>
    <head>
        <title>
            Wampus start page
        </title>
    </head>

    <body>
        
        
        <p>
            This is the starting page for the Wampus game made by the Vibhu's. Click the button to go to the game.
        </p>

        <button id = "Start" > CLICKe HERE </button>

        <script> document.getElementById("Start").addEventListener("click", function(){
            window.location.href = 'localhost:8080/hello';
        });</script>
    </body>
</html>